.cart__item__info img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.cart__product__title {
    font-weight: 600;
    font-size: .8rem;
}

.cart__product__price {
    font-size: .8rem;
}

.cart__product__price span {
    font-size: .9rem;
    font-weight: bold;
    color: #df2020;
}

.increase__decrease__btn {
    background-color: #fde4e4;
    padding: 2px 5px;
    border-radius: 5px;
}

.increase__btn,
.decrease__btn {
    cursor: pointer;
}

.delete__btn {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.cart__item {
    padding-bottom: 10px;
    border-bottom: 1px solid #fde4e4;
}
